.container-menu {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    justify-content: center;
    }   

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
            margin-bottom: 50px;
        }   
}


.btn {
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;
    border-color: transparent;

    color: var(--main-text-color);
    background-color: var(--secondary-back-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item {
    &:not(:last-child) {
        margin-right: 8px;
    }
    &:nth-child(-n + 3) {
        margin-bottom: 15px;

    @media screen and (min-width: $tablet) {
                margin-bottom: 0;
            }
    }
    
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.projects-list {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    }
}

.project-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-details,
.project-link:focus .project-details {
    transform: translateY(-100%);
}

.project-wrap-details {
    position: relative;
    overflow: hidden;
}

.project-details {
    position: absolute;

    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.03em;
    background-color: var(--project-details-back);
    color: var(--white-color);
}

.projects-discription {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

    padding: 20px 24px;
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        flex-grow: 1;
    }
    
}
    

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;

    color: var(--main-text-color);

    margin-bottom: 4px;
}

.project-field {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--auth-color);

}