.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
}

.modal {
    width: calc(100% - 2 * 15px);
    position: absolute;
    height: 609px;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    @media screen and (min-width: $mobile) {
        width: 450px;
    }

    @media screen and (max-width: 1199px) {
        overflow-y: scroll;
    }

    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;
        overflow-y: hidden;
    }
}

.modal-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}


.label-modal {
    left: 576px;
    top: 296px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.01em;
    color: var(--auth-color);

    margin-bottom: 4px;
}

.modal-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-wrapper {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}


.modal-element input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-element input:focus {
    border: 1px solid var(--accent-color);
}


.input-wrapper input:focus+svg {
    fill: var(--accent-color);

}

.modal-element textarea:focus {
    border: 1px solid var(--accent-color);
}

.modal-element textarea {
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: none;
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-element textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.accept label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;

    @media screen and (max-width: 1199px) {
        font-size: 12px;
    }
}

.accept a {
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    margin-left: 7px;

    color: var(--accent-color);
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    cursor: pointer;
}

.x-mark {
    width: 11px;
    height: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    align-items: center;
}

.checkbox {
    appearance: none;
    position: absolute;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox:checked+.checkbox-icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);

}

.checkbox-icon svg {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.checkbox-icon svg {
    opacity: 1;
}

.checkbox-icon {
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-right: 8px;

    border: 2px solid var(--main-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 52px;
    border: 0;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--hero-btn-hover-focus);
}

.btn-close:hover svg,
.btn-close:focus svg {
    fill: var(--accent-color);
}